<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body id="orders">
<div id="order">
<h3>Заказы</h3>
<div th:each="order : ${orders}">
    <h3 th:text="'Заказ №' + ${order.getNumber()}"></h3>
    <div id="image">
        <img th:src="'/img/' + ${order.getProduct().getImageList()[0].getFileName()}" width="300px">
    </div>
    <div id="productOrder">
        <p th:text="'Наименование: ' + ${order.getProduct().getTitle()}">
        <p th:text="'Количество: ' + ${order.getCount()}">
        <p th:text="'Цена: ' + ${order.getPrice()}">
        <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
        <div th:text="'Cтатус: ' + ${order.getStatus()}">
    </div>
</div>
</div>
</div>
    <script th:src="@{/js/index.js}"></script>
</body>
</html>